<section class="about section" id="about" style="margin-left: auto" >
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>About Me</h2>
      </div>
    </div>
    <div class="about-content padd-15">
      <div class="row">
        <div class="about-text  padd-15 ">
          <h3>I am <span> Felix Maina</span></h3>
          <p>An enthusiastic <span>FullStack Web Developer</span> with a solid understanding in
            API design
            principles and enterprise system architectural patterns.I have solid experience in
            building Api
            using Java and use Angular for the Frontend . As an ambitious developer i look
            forward to utilize my technical expertise into building solutions to the already
            existing problems into
            the market place.
            I am eager to contribute to team success through innovation and hard work. I excel
            in spaces that
            value transparency, innovation, and personal growth.</p>
        </div>
      </div>
      <div class="row">
        <div class="personal-info padd-15">
          <div class="row">
            <div class="info-item padd-15">
              <p><span>Birthday: </span> 17 sep 1997</p>
            </div>
            <div class="info-item padd-15 ">
              <p><span>Age : </span>25</p>
            </div>
            <div class="info-item padd-15 ">
              <p><span> Email : </span> karani.maina2010@gmail.com</p>
            </div>
            <div class="info-item  padd-15">
              <p><span>Education : </span> Certificate in software programming</p>
            </div>
            <div class="info-item padd-15">
              <p><span> Phone : </span> +254 795861420</p>
            </div>
            <div class="info-item padd-15">
              <p><span>City : </span> Nairobi</p>
            </div>
          </div>
          <div class="buttons padd-15">
            <a href="assets/pdf/Felix%20Cv.docx.pdf" download class="btn">Download Cv</a>
            <a routerLink="/contact" class="btn">Hire me</a>
          </div>
        </div>

        <div class="skills padd-15">
          <div class="row">
            <div class="skill-item padd-15 ">
              <div class="flex justify-between mb-1">
                <span class="text-base font-medium text-red-600 dark:text-red-600 fw-bold">Java</span>
                <span class="text-sm font-medium text-red-600 dark:text-red-400">96%</span>
              </div>
              <div class="bg-red-600 h-2.5 rounded-full" style="width: 96%"></div>
            </div>
            <div class="skill-item padd-15 ">
              <div class="flex justify-between mb-1">
                <span class="text-base font-medium text-red-600 dark:text-red-600 fw-bold">Css</span>
                <span class="text-sm font-medium text-red-600 dark:text-red-400">80%</span>
              </div>
              <div class="bg-red-600 h-2.5 rounded-full" style="width: 80%"></div>
            </div>
            <div class="skill-item padd-15 ">
              <div class="flex justify-between mb-1">
                <span class="text-base font-medium text-red-600 dark:text-red-600 fw-bold">JS/Angular</span>
                <span class="text-sm font-medium text-red-600 dark:text-red-400">70%</span>
              </div>
              <div class="bg-red-600 h-2.5 rounded-full" style="width: 70%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="education padd-15">
          <h3 class="title">Education </h3>
          <div class="row">
            <div class="timeline-box padd-15">
              <div class="timeline shadow-dark">
                <div class="timeline-item">
                  <div class="circle-dot"></div>
                  <h3 class="timeline-date"><i class="fa fa-calendar"></i>2022</h3>
                  <h4 class="timeline-title">Certificate in Software development</h4>
                  <p class="timeline-text">awarded a certificate of completion in software development (android, java and angular) at <span class="emphasized">Moringa School ,Ngong Ln</span> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="experience padd-15">
          <h3 class="title">Experience</h3>
          <div class="row">
            <div class="timeline-box padd-15">
              <div class="timeline shadow-dark">
                <div class="timeline-item">
                  <div class="circle-dot"></div>
                  <h3 class="timeline-date"><i class="fa fa-calendar"></i>2022- present</h3>
                  <h4 class="timeline-title"><span>Freelance Software Engineer</span></h4>
                  <p class="timeline-text">⦁	Coordinated Specifications and requirement for project technical needs </p>
                  <p class="timeline-text">⦁	Upgrading existing systems to Spring boot Microservices</p>
                  <p class="timeline-text">⦁	Coordinated Specifications and requirement for project technical needs</p>
                  <p class="timeline-text">⦁	Collaborated on a Point-of-sale ERP solution to monitor stock, sales and produce customized reports depending on user preference. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
