<section class="service section" id="services" style="margin-left: auto">
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>Certificates</h2>
      </div>
    </div>
    <div class="row">
      <!-- service item start -->
      <div class="service-item padd-15 zoom">
        <div class="service-item-inner">
          <div class="icon">
            <img src="assets/certs/Android%20Certificate%20--1.jpg">
          </div>
          <p>Certificate in Android Development</p>
        </div>
      </div>
      <div class="service-item padd-15 zoom">
        <div class="service-item-inner">
          <div class="icon">
            <!--            <i class="fa fa-laptop code"></i>-->
            <img src="assets/certs/CertificateOfCompletion_Creating%20Your%20First%20Spring%20Boot%20Microservice-1.jpg">
          </div>
          <p>Certificate in Springboot- Microservice development</p>
        </div>
      </div>
      <div class="service-item padd-15 zoom">
        <div class="service-item-inner">
          <div class="icon">
<!--            <i class="fa fa-laptop code"></i>-->
            <img src="assets/certs/CertificateOfCompletion_Extending%20Securing%20and%20Dockerizing%20Spring%20Boot%20Microservices-1.jpg">
          </div>
            <p>Certificate in Docker- Extending and dockerizing springboot application</p>
        </div>
      </div>
      <div class="service-item padd-15 zoom">
      <div class="service-item-inner">
        <div class="icon">
          <!--            <i class="fa fa-laptop code"></i>-->
          <img src="assets/certs/CertificateOfCompletion_Software%20Architecture%20Foundations-1.jpg">
        </div>
        <p>Certificate in software architecture foundation</p>
      </div>
    </div>
      <div class="service-item padd-15 zoom">
        <div class="service-item-inner">
          <div class="icon">
            <!--            <i class="fa fa-laptop code"></i>-->
            <img src="assets/certs/CertificateOfCompletion_Spring%20Boot%202.0%20Essential%20Training-1.jpg">
          </div>
          <p>Certificate in springboot - Essential training</p>
        </div>
      </div>
      <div class="service-item padd-15 zoom">
        <div class="service-item-inner">
          <div class="icon">
            <!--            <i class="fa fa-laptop code"></i>-->
            <img src="assets/certs/CertificateOfCompletion_Spring%20Boot%202.0%20Essential%20Training-1.jpg">
          </div>
          <p>Certificate in springboot - Essential training</p>
        </div>
      </div>
    <!-- servic item end -->
    </div>
  </div>
</section>
