<section class="contact section " id="contact" style="margin-left: auto">
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>Contact me</h2>
      </div>
    </div>
    <h3 class="contact-title">Have you any questions</h3>
    <h4 class="contact-sub-title">I'M AT YOUR SERVICE</h4>
    <div class="row">
      <!-- contact item -->
      <div class="contact-info-item padd-15">
        <div class="icon"><i class="fa fa-phone"></i></div>
        <h4>Call me on</h4>
        <p>+254 795861420</p>
      </div>
      <div class="contact-info-item  padd-15">
        <div class="icon"><i class="fa fa-envelope"></i></div>
        <h4>Email</h4>
        <p>karani.maina2010@gmail.com</p>
      </div>
      <div class="contact-info-item padd-15">
        <div class="icon"><i class="fa fa-linkedin"></i></div>
        <h4>Linkedin</h4>
        <a href=" https://www.linkedin.com/in/felix-maina/">https://www.linkedin.com/in/felix-maina/</a>
      </div>
      <!-- contact info item end -->

    </div>
    <h3 class="contact-title padd-15">SEND ME AN EMAIL</h3>
    <h4 class="contact-sub-title padd-15">I'M VERY RESPONSIVE TO MESSAGES</h4>
    <!-- contact Form part -->
<!--    <div class="row">-->
<!--      <div class="contact-form padd-15">-->
<!--        <div class="row">-->
<!--          <div class="form-item col-6 padd-15">-->
<!--            <div class="form-group">-->
<!--              <input type="text" class="form-control" placeholder='Name'>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-item col-6 padd-15">-->
<!--            <div class="form-group">-->
<!--              <input type="email" class="form-control" placeholder='Email'>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="form-item col-12 padd-15">-->
<!--            <div class="form-group">-->
<!--              <textarea class="form-control" name="" id="" placeholder="message"></textarea>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="form-item col-12 padd-15">-->
<!--            <a href="mailto:karani.maina2010@gmail.com" class="btn">Send Email</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</section>
