<section class="portfolio section " id="portfolio" style="margin-left: auto">
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>Portfolio</h2>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-heading padd-15">
        <h2>Current : </h2>
      </div>
    </div>
    <div class="row">
      <!-- ===== portfoli items====-->
      <div class="portfolio-item padd-15 bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">
        <div class="portfolio-item-inner shadow-dark">
          <div class="portfolio-img">
            <img src="assets/picture/Screenshot%202022-12-20%20153729.png" alt="">
            <a href="https://karanimaina.github.io/akan/">akan naming system</a>
          </div>
        </div>
        <div>
        </div>
      </div>
      <div class="portfolio-item padd-15 bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">
        <div class="portfolio-item-inner shadow-dark">
          <div class="portfolio-img">
            <img src="assets/picture/Screenshot%202022-12-20%20155201.png" alt="">
            <a href="https://karanimaina.github.io/github-repo-search/home">Github repo search</a>
          </div>
        </div>
      </div>
      <div class="portfolio-item padd-15  bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">
        <div class="portfolio-item-inner shadow-dark">
          <div class="portfolio-img">
            <img src="assets/picture/Screenshot%202022-12-20%20161819.png" alt="">
            <a href="https://karanimaina.github.io/Quote-project/">Quote App</a>
          </div>
        </div>

      </div>
      <div class="portfolio-item padd-15 bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">
        <div class="portfolio-item-inner shadow-dark">
          <div class="portfolio-img">
            <img src="assets/picture/Screenshot%202022-12-20%20160036.png" alt="">
            <a href="https://karanimaina.github.io/Nicks-pizza/">Nicks pizza </a>
          </div>
        </div>
      </div>
      <div class="portfolio-item padd-15 bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">
        <div class="portfolio-item-inner shadow-dark">
          <div class="portfolio-img">
            <img src="assets/picture/Screenshot%202022-12-20%20160732.png">
            <a href="https://annabelnkir.github.io/Hostel_finder/">Hostel finder</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
