<head>
  <link rel="stylesheet" href="/assets/css/color-1.css" class="alternate-style" title="color-1" [disabled]="true">
  <link rel="stylesheet" href="/assets/css/color-2.css" class="alternate-style" title="color-2" [disabled]="true">
  <link rel="stylesheet" href="/assets/css/color-3.css" class="alternate-style" title="color-3" [disabled]="true">
  <link rel="stylesheet" href="/assets/css/color-4.css" class="alternate-style" title="color-4" [disabled]="true">
  <link rel="stylesheet" href="/assets/css/color-5.css" class="alternate-style" title="color-5" [disabled]="false">
</head>
<div class="main-container">
  <app-navigation></app-navigation>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <div  [ngClass]="{'open': isOpen}" class="style-switcher">
    <div class="style-switcher-toggler s-icon" (click)="toggleMode()">
      <i class="fas fa-cog fa-spin"></i>
    </div>
    <div class="day-night s-icon">
      <i class="fas fa-moon"></i>
    </div>
    <h4>Theme colors</h4>
    <div class="colors">
      <span class="color-1" (click)="setActiveStyle('color-1')"></span>
      <span class="color-2" (click)="setActiveStyle('color-2')"></span>
      <span class="color-3" (click)="setActiveStyle('color-3')"></span>
      <span class="color-4" (click)="setActiveStyle('color-4')"></span>
      <span class="color-5" (click)="setActiveStyle('color-5')"></span>
    </div>
  </div>
</div>




































