<section class="home section " id="home">
  <div class="container">
    <div class="row">
      <div class="home-info  padd-15">
        <h3 class="hello">Hello, my name is <span class="name">Felix Maina</span></h3>
        <h3 class="my-profession">I'm a <span class="typing">Web designer</span></h3>
        <p>I'm a web designer with extensive experience for 1 year, my expertise is to develop web
          application for
          business and enterprises</p>
        <a href="#contact" class="btn">Hire me</a>
      </div>
      <div class="home-img padd-15">
        <img src="assets/picture/Felix_Maina.jpg" alt="" (click)="goToRegister()">
      </div>
    </div>
  </div>
</section>
