 aside start

<div class="aside ">
  <!--    <div class="logo">-->
  <!--      <a href="#"><span>A</span>rcurus</a>-->
  <!--    </div>-->
  <div class="nav-toggler">
    <span></span>
  </div>
  <ul class="nav">
    <li><a  class="nav-item nav-link active"  routerLink='/home' routerLinkActive="active"><i class="fa fa-home"></i>Home</a></li>
    <li><a  class="nav-item nav-link" routerLink='/aboutMe' routerLinkActive="active"><i class="fa fa-user"></i>About</a></li>
    <li><a  class="nav-item nav-link"  routerLink='/service' routerLinkActive="active"><i class="fa fa-list"></i>Certificates</a></li>
    <li><a  class="nav-item nav-link" routerLink='/repository' routerLinkActive="active"><i class="fa fa-list"></i>Repository</a></li>
    <li><a  class="nav-item nav-link" routerLink='/portfolio' routerLinkActive="active"><i class="fa fa-briefcase"></i>Portfolio</a></li>
    <li><a  class="nav-item nav-link" routerLink='/contact' routerLinkActive="active"><i class="fa fa-comments"></i>Contact</a></li>
    <!--      <li><a  routerLink='/sign' routerLinkActive="active"><i class="fa fa-sign-in"></i>SignIn</a></li>-->
  </ul>
</div>
